* {
    margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
	flex-direction: column;
    align-items: center;
	min-height: 100vh;
	background:#F8F6F4;
    background-size:cover;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Navigation bar. */
nav {
    width: 100%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items a:hover {
    color: #5f9797;
}

.home {
    padding: 3px;
}

.home a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 5px;
    color: #83bbbb;
}

.logout {
    padding: 5px;
}

.logout a {
    text-decoration: none;
    padding-right: 5px;
    color: #83bbbb;
}

/* Rest of content below home icon. */
.view {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* Title of the page */
.title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bakbak One', cursive;
    font-size: 40px;
    color: #73b3b3;
    margin: 0;
}

#welcome-msg {
    text-align: center;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 50px;
    color: #387b8b;
    margin: 0;
}

/* Line */
.line {
    display: block;
    align-items: center;
    background-color: #91b7c0;
    width: 95%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Button to add a new task. */
.add-button {
    display: flex;
    margin-top: 20px;
    border: 1px solid #b1c4a2;
    border-radius: 10px;
    padding: 3px 5px;
    align-items: center;
    background: #d1e0c5;
    width: fit-content;
}

.add-button a {
    text-decoration: none;
    color: #92aa7f;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.add-button:hover {
    background: #dde6d6;
    border: 1px solid #cbd8c2;
    color: #b2c5a3;
}

.add-button:hover a{
    color: #a1bb8d;
}

/* A week spread, from Sunday to Saturday. */
.week {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
}

/* A weekday column. */
.weekday {
    margin: 5px;
    padding: 10px;
    flex: 1 1 0px;
    width: 160px;
}

/* Name of the day of the week. */
.weekday-heading {
    width: 100%;
    background:#D2E9E9;
    box-shadow: 5px 5px #aac7c7;
}

.weekday-heading p {
    text-align: center;
    color: #387b8b;
    font-size: 18px;
}

/* Weekday task column for the tasks. */
.weekday-column {
    margin-top: 10px;
}

/* A task box. */
.box {
    border: 1px solid #D2E9E9;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    overflow-wrap: break-word;
    background: #e5edf0;
}

.box h3 {
    color: #3c434e;
    font-size: 20px;
}

.small-text {
    font-size: 11px;
    color:  #3c434e;
}

.desc {
    font-size: 13px;
    color: #3c434e;
}

/* Delete/Edit buttons. */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Delete task button. */
.task-button {
    border-radius: 10px;
    width: 30px;
    text-align: center;
    padding: 3px;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.task-button a {
    text-decoration: none;
    font-size: 15px;
}

#delete-button {
    border: 1px solid #e7b1b1;
    background: #ebc9c9;
}

#delete-button a {
    color:  #ca8989;
}

#delete-button:hover {
    background: #ebd9d9;
    border: 1px solid #ebc5c5;
}

/* Edit task button. */
#edit-button {
    border: 1px solid #e9d9a7;
    background: #e9e1c8;
}

#edit-button a {
    color: #c9b24d;
}

#edit-button:hover{
    background: #f0ebdc;
    border: 1px solid #e6d8ab;
}

/* Task display options */
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#display-options-div {
    display: flex;
    flex-direction: row;
}

label {
    color: #387b8b;
    text-align: 10px;
    font-size: 22px;
}

#display-sub-btn-div {
    margin: 0 10px;
}

#display-sub-btn {
    background: #687fb1;
    border-color: #687fb1;
}